@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --base-color--white: #f4f5fb;
  --base-color--black: #01000D;
  --base-color--purple: #6A6EEC;
  --base-color--pink: #A20167;
  --base-color--pink-light: #C74D7E;
  --base-color--primary: var(--base-color--purple);
  --base-color--secondary: var(--base-color--pink);
  --base-color--bg: var(--base-color--black);
  --base-color--color: var(--base-color--white);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: var(--base-color--bg);
  color: var(--base-color--color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a {
  color: var(--base-color--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    --base-color--color: var(--base-color--black);
    --base-color--bg: var(--base-color--white);
  }
}